{% extends 'base.html' %}

{% block title %} events {% endblock title %} 
{% load static %}
{%block content %}
        <div class="container">
            {% for NewEvent in event_display %} 
            <div class="row eventwoi">
                <div class="col-md-6">
                    <h2>{{NewEvent.name}} </h2>
                    <h4 id="insight">{{NewEvent.insight}}</h4>
                    <h2>DATE &amp; TIME</h2>
                    <h4>{{NewEvent.date}} </h4>
                    <h2>CONTACT</h2>
                    <h4>{{NewEvent.contact}} </h4>
                    <h2>EVENT ATTENDANT</h2>
                    {% for UserMasuk in NewEvent.listOfUser.all %}
                    <h5> > {{UserMasuk.displayName}}</h5>
                    {% endfor %}
                </div>
                <div class="col-md-6 kanan">
                    <div id="poto">
                        <img src="{{NewEvent.thumbnail}}">
                    </div>
                    <div id="buton">
                        <form action="{% url 'regist' id=NewEvent.id %}"><button type="submit" class="btn btn-success">REGISTER</button></form>
                        
                    </div>
                </div>
            </div>
            {% endfor %}       
        </div>
{% endblock content %}