{% extends 'base.html' %}

{% block title %} register event {% endblock title %} 
{% load static %}
{%block content %}

        <div id="lemon" class="justify">
             {% if user.is_authenticated %}
            <h2 class="konfirmdaftar">Registering for {{cur_event.name}} ? Please accept it once more!</h2>
                <form id="forms" method="POST" action="{% url 'regis_post' id=cur_event.id %}">
                {% csrf_token %}
                <div class="col-sm-auto">
                  <button id="lelo" type="submit" class="btn btn-success">I agree</button>  
                </div>
            </form>
                {% else %}
                    <h2 class="konfirmdaftar" >Registering for {{cur_event.name}} ? please login first!</h2>
                {% endif %}

        
            <div><br><br><br><br><br><br><br><br><br><br><br><br></div>
        </div>
       
{% endblock content %}