{% extends 'base.html' %}

{% block title %} News {% endblock title %}
{% load static %}
{%block content %}
        {% for object in title %}
		<div class="container">
			<div class="row eventwoi">
				  <div class="col-md-8"><h1><a href="{{ object.id }}">{{ object.title }}</a></h1></div>
				  <div class="col-md-6"><h3>{{object.snippet}}</h2></div>
					<div class="col-md-6">
							<div class="img-fluid float-right">
								<div class="square"><img class="img-fluid" src="{{object.thumbnail}}" alt=""></div>
							</div>
					</div>
			</div>
		</div>
        {% endfor %}
{% endblock content %}
