{% extends 'base.html' %}

{% block title %} News {% endblock title %}
{% load static %}
{%block content %}
      <!--<div class="text">
          <h1>{{ title.title }}</h1>
          <h4>{{title.body}}</h4>
      </div>
      <div class="col-md-6 kanan">
                    <div id="poto">
                        <img src="{{title.thumbnail}}">
                    </div>
      </div>-->
		<div class="container">
			<div class="row eventwoi">
				<img src="{{title.thumbnail}}">
					<h1>{{ title.title }}</h1>
					<h4>{{title.body}}</h4>
				</div>
			</div>
		</div>
{% endblock content %}