{% extends 'base.html' %}

{% block title %} Welcome! {% endblock title %}
{% load static %}
{% block content %}
<div class="container-fluid h-100" style="background-image: url('https://i.pinimg.com/originals/a1/ce/a1/a1cea1f3e4da6315559b2b9ef413a70e.png')">
    <br><br><br><br><br><br><br><br><br><br><br>
    <p class="judul" style="color:white; font-size:48px;"><b>Welcome to Student Union!</b></p>
    <div class="center">
        <p><a class="btn btn-lg btn-primary" href="{% url 'about' %}" role="button" style="border-radius: 30px; font-size:22px; background-color: #000000; border-color: black;">About
                us</a></p>
    </div>
</div>
{% endblock content %}