{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% load static %}
{% block content %}

<div class="container-fluid h-100" style="background-image: url('https://i.pinimg.com/originals/a1/ce/a1/a1cea1f3e4da6315559b2b9ef413a70e.png')">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-12">
            <p class="judul" style="color:white; font-size:36px"><b>Introducing Student Union</b></p>
            <p class="judul" style="color:white; font-size:28px">A platform for students and participants to keep
                informed about today’s events and news. Student Union was established in 2018 by a group of students
                in Faculty of Computer Science, University of Indonesia.</p>
        </div>
        <br><br>
    </div>
</div>

<div class="container">
    {% if user.is_authenticated %}
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-6">
            <div class="roundedrec">
                <div class="insiderec">
                    <p class="judul"><b>What do you think about us?</b></p>
                    <form class="form-group" method="POST" id="post-form">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="center">
                            <b>{{ field.label }} {{ field }}</b>
                        </div>
                        {% endfor %}
                        <div class="center">
                            <input class="btn-dark round" id="test_button" type="submit" value="Post">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-sm-6">
            <div class="roundedrec">
                <div class="insiderec">
                    <p class="judul"><b>What do you think about us?</b></p>
                    <p>
                        <h1 style="font-size: 15px">Please log in first to write your testimony about us! :)</h1>
                    </p>
                    <a class="lead" href="{% url 'social:begin' 'google-oauth2' %}">Log in</a>
                </div>
            </div>
            {% endif %}
            <div class="roundedrec">
                <div class="insiderec">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="judul"><b>Testimonials</b></p>
                            {% if testi %}
                            {% for a in testi %}
                            <table class="table text-center" style="font-size: 15px;">
                                <thead>
                                    <tr class="table text-center">
                                        <td scope="row" style="text-align: center"> {{a.name}} </td>
                                        <td scope="row" style="text-align: center"> {{a.message}} </td>
                                        <td scope="row" style="text-align: center"> {{a.time}} </td>
                                        <br>
                                    </tr>
                                </thead>
                            </table>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <h1 style="font-size: 15px">There is no testimony</h1>
            {% endif %}
        </div>
    </div>
</div>




<script>
    // Submit post on submit
    $('#post-form').on('submit', function (event) {
        event.preventDefault();
        console.log("testimoni posted") // sanity check
        create_post();
    });

    function create_post() {
        console.log("posted") // sanity check
        $.ajax({
            url: "testimoni/", // the endpoint
            type: "POST", // http method
            async: true,
            data: {
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                testimonials: $('#post-text').val()
            }, // data sent with the post request

            // handle a successful response
            success: function (json) {
                console.log($('#post-text').val())
                $('#post-text').val(''); // remove the value from the input -->
                console.log(json.message); // log the returned json to the console
                console.log("success"); // another sanity check
                $("#talk2").html("");
                $("#talk").append("<td scope='row' style='text-align: center'>" + json.name + "</td>" +
                    "<td scope='row' style='text-align: center'>" + json.msg + "</td>" +
                    "<td scope='row' style='text-align: center'>" + json.datetime + "</td>");
                console.log("masuk sini");
            },

            // handle a unsuccessful response
            error: function (xhr, errmsg, err) {
                $('#post-text').val('');
                console.log("Unsuccessful"); // provide a bit more info about the error to the console
            }
        });
    };
</script>

{% endblock %}
