{% extends 'base.html' %}

{% block title %} Profile {% endblock title %}
{% load static %}
{%block content %}
<!DOCTYPE html>
<html>
  <head>
  <style>
  html {
    height: 100%;
    box-sizing: border-box;
  }

  body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 4rem;
  }
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #f5f5f5;
    color: #73748F;
   }
   #content {
     width: 100%;
     padding: 20px;
     min-height: 100vh;
    transition: all 0.3s;
   }
   .square {
     height: 220px;
     width: 220px;
     margin-right: 30px;
     margin-bottom: 15px;
     overflow: hidden;
   }
  </style>
    <script>
        $(document).ready(function(){
            $.ajax({
                url: '/get_events/',
                dataType : "json",
                success: function(obj){
                    var events = obj;
                    var msg = 'You have not registered to any events yet'
                    if (events.length == 0) {
                        $('#fillWithJs').append('<li class="list-group-item">'+msg+'</li>');
                    } else {
                        $('#fillWithJs').empty();
                        for(i = 0; i < events.length; i++){
                            var title= events[i]['fields']['name'];
                            var date=events[i]['fields']['date'];
                            $('#fillWithJs').append('<li class="list-group-item">'+title+', registered on '+date+'</li>');
                        }
                    }

            }});
        });
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      {% if user.is_authenticated %}
        <div id="content">
            <br><br>
            <div class="my-auto">
              <div class="img-fluid float-left">
                <div class="square"><img class="img-fluid img-profile rounded-circle" src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" alt=""></div>
              </div>
              <h1 class="mb-0">Hello
                <span class="text-primary">{{ user.first_name }} {{user.last_name}}</span>
              </h1>
              <div class="subheading mb-5">
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
              </div>
                <div class="col-md">
                  <h3 class="display-5">Your events, {{ user.first_name }}</h3>
                  <ul class="list-group" id="fillWithJs">
                  </ul>
                </div>
            </div>
        </div>
      {% else %}
        <div id="content">
          <br><br><br><br>
          <h2> You need to log in first to view you events. To log in, <a href="{% url 'social:begin' 'google-oauth2' %}">click here.</a></h2>
        </div>
      {% endif %}
     </div>
  </body>
</html>  
{% endblock content %}
