{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block content %}
{% load static %}

<div class="container">
    <div class="bg-home">
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="{% static 'img/landing.png' %}" style="width:100%; height:50vh;">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="roundedrec">
                        <div class="insiderec">
                            <div class="col-md-12 col-sm-12">
                                <p class="h1"><b>LET’S GET STARTED!</b></p>
                                <p>If you’re a student interested in setting up your Student
                                    Union account, click the
                                    button below.</p>
                                <p><a class="btn btn-lg btn-primary" href="{% url 'signup' %}" role="button" style="background-color: #000000; color: #ffffff; border-color: black;">STUDENT
                                        SIGN UP</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="{% static 'img/news.png' %}" style="width:100%; height:50vh;">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="roundedrec">
                        <div class="insiderec">
                            <div class="col-md-12 col-sm-12">
                                <p class="h1"><b>GET INFORMED!</b></p>
                                <p>Check out the latest news around the union to keep yourself
                                    updated.</p>
                                <p><a class="btn btn-lg btn-primary" href="{% url 'news' %}" role="button" style="background-color: #000000; color: #ffffff; border-color: black;">GO
                                        TO NEWS</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="{% static 'img/events.png' %}" style="width:100%; height:50vh;">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="roundedrec">
                        <div class="insiderec">
                            <div class="col-md-12 col-sm-12">
                                <p class="h1"><b>JOIN THE FUN!</b></p>
                                <p>Join the events that are available across the student union.
                                    No register needed!</p>
                                <p><a class="btn btn-lg btn-primary" href="{% url 'events' %}" role="button" style="background-color: #000000; color: #ffffff; border-color: black;">GO
                                        TO EVENTS</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock %}