body, html {
    height: 100%;
    font-family: Roboto;
    color: #ffffff;
    background-color: #FFFFFF;
    max-height: calc(100vh - 100vh);
}

.navbar {
    flex: 0 0 auto;
    background-color: #1A1A1A !important;
}

.navbar .navbar-nav li a {
    color: #FFFFFF !important;
}

.navbar .navbar-nav li a:hover {
    color: #C4C4C4 !important;
}

.navbar-toggler {
    background-color: #ffffff !important;
}

.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

/* #foot {
    background-color: #000000;
    color: white;
    padding-top: 40px;
}

#foot .row {
    margin-bottom: 60px;
}

#foot .navbar-brand {
    margin-top: 45px;
    height: 65px;
}


#foot ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2.2;
}

#foot h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#foot h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#foot a {
    color: white;
    text-decoration: none;
} */


@media screen and (max-width: 767px) {
    #foot {
        text-align: center;
    }
}


.center {
    text-align: center;
}

.socmed {
    position: absolute;
    width:40px; 
    height:40px 
}