body, html {
    height: 100%;
    font-family: Roboto;
    background-color: #FFFFFF;

}

.navbar {
    flex: 0 0 auto;
    background-color: black !important;
}

.navbar .navbar-nav li a {
    color: #FFFFFF !important;
}

.navbar .navbar-nav li a:hover {
    color: #C4C4C4 !important;
}

.navbar-toggler {
    background-color: black !important;
}

.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

/* #foot {
    background-color: #000000;
    color: white;
    padding-top: 40px;
}

#foot .row {
    margin-bottom: 60px;
}

#foot .navbar-brand {
    margin-top: 45px;
    height: 65px;
}


#foot ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2.2;
}

#foot h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#foot h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#foot a {
    color: white;
    text-decoration: none;
} */


@media screen and (max-width: 767px) {
    #foot {
        text-align: center;
    }
}


.center {
    text-align: center;
}

.socmed {
    position: absolute;
    width:40px; 
    height:40px 
}

#bekgron {
    position: relative;
}

#bekgron img {
    width: 100%;
    filter: brightness(70%);
}
#bekgron .text {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}


#bekgron .text h2 {
    font-size: 4em;
    width: 70%;
}

#bekgron .text h4 {
    font-size: 3em;
    width: 70%;
}

@media screen and (max-width: 724px) {
   #bekgron .text h2 {
    font-size: 3em;
}
#bekgron .text h4 {
    font-size: 2em;
    width: 70%;
}
  

}

@media screen and (max-width: 724px) {
   #bekgron .text h2 {
    font-size: 2em;
}
#bekgron .text h4 {
    font-size: 1em;
    width: 70%;
}
  

}


.text-center li {
    margin-left: 30px;
    margin-right: 30px;
}

.eventwoi:nth-child(even) {
    background-color: #FFFFFF;
}

.eventwoi:nth-child(even) h2 {
    color: #C4C4C4;
    font-weight:  bold;
}

.eventwoi:nth-child(odd) {
    background-color: #C4C4C4;
}

.eventwoi:nth-child(odd) h2 {
    color: #FFFFFF;
    font-weight: bold;
}

.eventwoi img {
    margin-top: 40px;
    width: 50%;
    height: 50%;

}

#insight  {
    font-style: italic;
}

#poto {
    text-align: right;
}

#buton {
    text-align: right;
}

#buton button {
    text-align: right;
    margin-top: 50px;
    margin-right: 30px;
}

#poto img {
    width: 150px;
    height: 150px;
}



@media screen and (max-width: 768px) {
   #poto {

    text-align: center;
   

}

    #poto img {
        margin-top: 10px;
}

    #buton {
        text-align: center;
    } 

    #buton button {
        margin-right: 0px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .eventwoi h2,h4,h5 {
        text-align: center;
    }

}

#forms {
    padding-left: 23%;
    padding-right: 23%;
}

#forms h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

#forms .col-sm-2:after{
    content:attr(data-end);
    color: red;

}

#forms .col-sm-10 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#forms .col-sm-2 {
    margin-top: 20px;
    margin-bottom: 20px;

}

#forms .col-sm-auto  {
    text-align: center;
}