body, html {
    height: 100%;
    font-family: Roboto;
    background-color: #FFFFFF;

}

.navbar {
    flex: 0 0 auto;
    background-color: black !important;
}

.navbar .navbar-nav li a {
    color: #FFFFFF ;
}

.navbar .navbar-nav li a:hover {
    color: #C4C4C4 ;
}

.navbar-toggler {
    background-color: black !important;
}

.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

@media screen and (max-width: 767px) {
    #foot {
        text-align: center;
    }
}

.center {
    text-align: center;
}

.socmed {
    position: absolute;
    width:40px; 
    height:40px 
}

#bekgron {
    position: relative;
}

#bekgron img {
    width: 100%;
    filter: brightness(70%);
}
#bekgron .text {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    font-size: 3em;
}

.navbar-dark > li > .dropdown a{   color: black;  }

#lemon {
    text-align: center;
}

#lemon .konfirmdaftar {
    margin-top: 15%;
}

#lelo {
    margin-top: 20px;
}


#bekgron .text h2 {
    font-size: 4em;
    width: 70%;
}

#bekgron .text h4 {
    font-size: 3em;
    width: 70%;
}

@media screen and (max-width: 724px) {
   #bekgron .text h2 {
    font-size: 3em;
}
#bekgron .text h4 {
    font-size: 2em;
    width: 70%;
}
  

}

@media screen and (max-width: 724px) {
   #bekgron .text h2 {
    font-size: 2em;
}
#bekgron .text h4 {
    font-size: 1em;
    width: 70%;
}
  

}


.text-center li {
    margin-left: 30px;
    margin-right: 30px;
}

.eventwoi:nth-child(even) {
    background-color: #FFFFFF;
}

.eventwoi:nth-child(even) h2 {
    color: #C4C4C4;
    font-weight:  bold;
}

.eventwoi:nth-child(odd) {
    background-color: #C4C4C4;
}

.eventwoi:nth-child(odd) h2 {
    color: #FFFFFF;
    font-weight: bold;
}

.eventwoi img {
    margin-top: 40px;
    width: 50%;
    height: 50%;

}

#insight  {
    font-style: italic;
}

#poto {
    text-align: right;
}

#buton {
    text-align: right;
}

#buton button {
    text-align: right;
    margin-top: 50px;
    margin-right: 30px;
}

#poto img {
    width: 150px;
    height: 150px;
}



@media screen and (max-width: 768px) {
   #poto {

    text-align: center;
   

}

    #poto img {
        margin-top: 10px;
}

    #buton {
        text-align: center;
    } 

    #buton button {
        margin-right: 0px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .eventwoi h2,h4,h5 {
        text-align: center;
    }

}

#forms {
    padding-left: 23%;
    padding-right: 23%;
}

#forms h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

#forms .col-sm-2:after{
    content:attr(data-end);
    color: red;

}

#forms .col-sm-10 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#forms .col-sm-2 {
    margin-top: 20px;
    margin-bottom: 20px;

}

#forms .col-sm-auto  {
    text-align: center;
}

.roundedrec {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    margin-top:17px;
    margin-bottom:17px;
    
}

.insiderec {
    padding: 30px;
}

.judul {
    color:black;
    text-align: center;
    padding-bottom: 5px;
    font-size: 24px;
}

input[type=text], input[type=date], input[type=email], input[type=password], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
}

input[type=submit] {
    background-color:black;
    color: white;
    margin-top: 13px; 
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #C4C4C4;
}

#bekgron .txt {
    text-align: left;
}