body, html {
    height: 100%;
    font-family: Roboto;
    background-color: #C4C4C4;

}

.bg-home {
    background-color: #C4C4C4;
    color: #FFFFFF;
}

.navbar {
    flex: 0 0 auto;
    background-color: #000000 !important;
}

.navbar .navbar-nav li a {
    color: #FFFFFF !important;
}

.navbar .navbar-nav li a:hover {
    color: #C4C4C4 !important;
}

.navbar-toggler {
    background-color: #ffffff !important;
}

.page-footer {
    /* left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center; */

    
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000000;
    color: white;
    text-align: center;
 }


@media screen and (max-width: 767px) {
    #foot {
        text-align: center;
    }
}


.center {
    text-align: center;
}

.socmed {
    position: absolute;
    width:40px; 
    height:40px 
}

#bekgron {
    position: relative;
}

#bekgron img {
    width: 100%;
    filter: brightness(70%);
}
#bekgron .text {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

@media screen and (max-width: 724px) {
   
  

}

#bekgron .text h2 {
    font-size: 4em;
    width: 70%;
}

#bekgron .text h4 {
    font-size: 3em;
    width: 70%;
}

.text-center li {
    margin-left: 30px;
    margin-right: 30px;
}

.eventwoi:nth-child(even) {
    background-color: #FFFFFF;
}

.eventwoi:nth-child(even) h2 {
    color: #C4C4C4;
    font-weight:  bold;
}

.eventwoi:nth-child(odd) {
    background-color: #C4C4C4;
}

.eventwoi:nth-child(odd) h2 {
    color: #FFFFFF;
    font-weight: bold;
}

.eventwoi img {
    margin-top: 40px;
    width: 50%;
    height: 50%;

}

#insight  {
    font-style: italic;
}

#poto {
    text-align: right;
}

#buton {
    text-align: right;
}

#buton button {
    text-align: right;
    margin-top: 50px;
    margin-right: 30px;
}

#poto img {
    width: 150px;
    height: 150px;
}



@media screen and (max-width: 768px) {
   #poto {

    text-align: center;
   

}

    #poto img {
        margin-top: 10px;
}

    #buton {
        text-align: center;
    } 

    #buton button {
        margin-right: 0px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .eventwoi h2,h4,h5 {
        text-align: center;
    }

}