{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Student Union</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
		<a class="navbar-brand active" href="{% url 'home' %}"><span class="sr-only">(current)</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  	<span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  	<ul class="navbar-nav mr-auto">
				<li class="nav-item">
			 		 <a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news' %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'events' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                </li>
			</ul>
		</div>
	</nav>

    {% block content %}
	{% endblock %}

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4" style="background-color: #000000;">
		<h1 class="text-center">STUDENT UNION</h1>
		<div class="container">
		  <!-- Social buttons -->
		  <ul class="list-unstyled list-inline text-center">
			<li class="list-inline-item">
			  <!-- <a class="btn-floating btn-fb mx-1">
				<i class="fa fa-facebook"> </i>
			  </a> -->
			<a href="https://goo.gl/maps/9CfwQxutHNx" target="_blank:" class="btn-floating btn-fb mx-1">
				<img src="{% static 'img/maps.png' %}" alt="maps" class="socmed" />
				<!-- <img src='img/maps.png' alt="maps" class="socmed" /> -->
			</a>
			</li>
			<li class="list-inline-item">
			  <a href="https://twitter.com/fasilkom_ui" target="_blank:" class="btn-floating btn-tw mx-1">
				<img src="{% static 'img/twitter.png' %}" alt="twitter" class="socmed" />
				<!-- <img src='img/twitter.png' alt="twitter" class="socmed" /> -->
			  </a>
			</li>
			<li class="list-inline-item">
			  <a class="btn-floating btn-gplus mx-1">
				<img src="{% static 'img/email.png' %}" alt="email" class="socmed" />
				<!-- <img src='img/email.png' alt="email" class="socmed" /> -->
			  </a>
			</li>
			<li class="list-inline-item">
				<a href="https://line.me/R/home/public/main?id=ppwfasilkomui" target="_blank:" class="btn-floating btn-tw mx-1">
					<img src="{% static 'img/line.png' %}" alt="line" class="socmed" />
					<!-- <img src='img/line.png' alt="line" class="socmed" /> -->
				</a>
			</li>
			<li class="list-inline-item">
				<a href="https://www.instagram.com/fasilkomuiofficial/" target="_blank:" class="btn-floating btn-tw mx-1">
					<img src="{% static 'img/ig.png' %}" alt="ig" class="socmed" />
					<!-- <img src='img/ig.png' alt="ig" class="socmed" /> -->
				</a>
			</li>
		  </ul>
	
		</div>

	<div class="footer-copyright text-center py-3">PPW Assignment Class D Group 13</div>
	<div class="footer-copyright text-center py-3">© 2018 All Rights Reserved</div>
	
</footer>

</body>
</html>