{% extends 'base.html' %}

{% block title %} login with google {% endblock title %}
{% load static %}
{%block content %}

<p> [STILL IN DEVELOPMENT] </p>
 <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>       

    

{% endblock content %}