{% extends 'base.html' %}

{% block title %} Signed in! {% endblock title %} 
{% load static %}
{% block content %}
        <div class="bg-img" style="background-image: url('https://i.pinimg.com/originals/cb/9a/39/cb9a393df96c2e5e3e7aac8a04139ac0.png')">
            <!-- <img src="{% static 'img/signed.png' %}" alt="bg" class="bgg" /> -->
            <div class="text-center mx-auto my-0" style="padding-top: 200px; padding-bottom: 2rem; color:white;">
                <h2 style="font-size: 48px;"> Signed in!</h2>
                <p><h4 style="font-size: 48px;">Thank you for joining us.</h4></p>
                <p><a href="{% url 'homepage' %}"><h4 style="font-size: 18px;">Click here for more!</h4></a></p>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
                 
            </div>        
        </div>
{% endblock content %}
