{% extends "base.html" %}
{% block title %} Sign Up {% endblock title %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12">
            <div class="roundedrec">
                <div class="insiderec">
                    <h1 class="text-center mx-auto my-0" style="padding-top: 10px; padding-bottom: 2rem; font-size: 45px; color:black;"><b>You’re
                            a student? Create your student account here!</b></h1>
                    <form id="form" method="POST" action="{% url 'signup' %}" style="color: #000000;">
                        {% csrf_token %}
                        {% for signup in form %}
                        <div class="row">
                            <div class="col-sm-12" data-end="*">
                                {{ signup.label_tag }} {{ signup }}
                            </div>

                        </div>
                        {% endfor %}
                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                <button type="submit" class="btn btn-default" action="{% url 'signed' %}" style="background-color: #000000; color: #ffffff">Sign
                                    up</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <p><a href="{% url 'homepage' %}">
                                    <h1 style="font-size: 16px">Not a student? Click here!</h1>
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock %}